:root { 
--teal_400_01:#289299; 
--white_A700_b2:#ffffffb2; 
--white_A700_7e:#ffffff7e; 
--blue_gray_800_94:#23385294; 
--white_A700_94:#ffffff94; 
--blue_800_01:#226faf; 
--light_blue_900:#045ea8; 
--gray_50:#f3fbfb; 
--teal_400:#2ba7af; 
--orange_400_99:#ff912499; 
--blue_gray_800:#233852; 
--blue_600_01:#3186db; 
--blue_gray_900:#1a2635; 
--blue_800:#2364a5; 
--blue_600:#3788e6; 
--gray_900:#0a2135; 
--white_A700_a3:#ffffffa3; 
--light_blue_50:#d4ecff; 
--teal_50:#d3e3f7; 
--orange_400:#ff9124; 
--gray_100:#f5f7f8; 
--indigo_300:#5793ce; 
--cyan_200:#70d5db; 
--cyan_300:#57cdd5; 
--gray_100_02:#f6f7f9; 
--white_A700_01:#fafdff; 
--gray_100_01:#fcf7f3; 
--blue_300:#6da8ed; 
--blue_100:#b6d3f6; 
--indigo_900:#173d7a; 
--white_A700:#ffffff; 
--indigo_500:#396caa; 
--cyan_400:#37c4cd; 
--blue_gray_900_94:#1a263594; 
}